$primary: hsl(117, 19%, 64%);
$primary-light: hsl(117, 19%, 84%);
$secondary: hsl(207, 64%, 51%);
$secondary-light: hsl(200, 64%, 71%);
$bg-dark1: hsla(230, 30%, 10%, 0.6);
$bg-dark2: hsla(207, 100%, 9%, 0.8);
$bg-dark3: hsla(188, 100%, 7%, 0.9);
$dark: hsl(230, 30%, 10%);
$grey: hsl(230, 10%, 20%);
$light1: hsl(207, 55%, 85%);
$light2: hsl(188, 55%, 85%);
