@import "./sass/base/base";
@import "./sass/base/variables";
@import "./sass/base/typography";
@import "./sass/base/animations";

@import "./sass/pages/layout";

.header {
  height: 97.5vh;
  background: linear-gradient(
      360deg,
      rgba($bg-dark1, 0.6),
      rgba($bg-dark2, 0.8),
      rgba($bg-dark3, 0.9)
    ),
    url("./assets/blacksky.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40rem;
    width: auto;

    &--stopColor {
      stop-color: rgba($primary-light, 0.1);
    }
    &--stopColorOff {
      stop-color: rgba($primary-light, 0);
    }
    &--rectFill {
      fill: rgba($primary-light, 0.2);
    }
  }
}

.heading-primary {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.9;
  background: linear-gradient(to left, rgba($primary, 0.8), $secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradient 3s linear infinite;

  &--main {
    display: block;
    font-size: 11.25rem;
    font-weight: 400;
    letter-spacing: -1rem;
  }
  &--sub {
    display: block;
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    margin-top: 0.9rem;
  }
}
