* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: #afd6c4;
  /* padding: 0.8rem; */
}

.header {
  height: 97.5vh;
  background: linear-gradient(
      360deg,
      hsla(0, 0%, 0%, 0.644),
      hsla(207, 100%, 9%, 0.8),
      hsla(188, 100%, 7%, 0.9)
    ),
    url("./assets/blacksky.jpg");
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 30rem;
  width: auto;
  /* animation: rotate 12s cubic-bezier(0.42, 0, 0.58, 1) infinite; */
}

.stopColor {
  stop-color: #ffffff29;
}
.stopColorOff {
  stop-color: #ffffff00;
}

.rectFill {
  fill: #ffffff39;
}

@keyframes gradient {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.heading-primary {
  position: absolute;
  /* color: #afd6c4; */
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.9;
  background: linear-gradient(
    to left,
    hsla(117, 19%, 64%, 0.9),
    hsla(200, 64%, 51%, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradient 3s linear infinite;
}

.heading-primary-main {
  display: block;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: -0.85rem;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
